<%- include("../includes/head") %>
</head>


<body>
<%- include("../includes/navigation") %>

<main>
    <% if(prods.length > 0 ) { %>

        <div class="grid">
            <% for (let bob of prods) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= bob.title %></h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= bob.imageUrl %>" alt="<%= bob.title %>">
                        <!-- https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png -->
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= bob.price %></h2>
                        <p class="product__description"><%= bob.description %></p>
                    </div>
                    <div class="card__actions">
                        <a href="/admin/edit-product" class="btn">Edit</a>
                        <form method="post" action="/admin/edit-product">
                        <button type="submit" class="btn">Delete</button>
                        </form>
                    </div>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</main>
<%- include("../includes/end") %>